wheel==0.37.1
pre-commit==2.9.3
chardet>=5.0.0

pytest==6.2.5
mock==4.0.3
pytest-mock==3.6.1
pytest-dependency==0.5.1
timeout-decorator==0.5.0
pytest-terra-fixt==0.5.1

tftest==1.6.2
awscli==1.25.17
boto3==1.24.17
requests==2.27.1
PyGithub==1.55
